@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title: 28px;
    }


    .block
    {
        margin-bottom: 60px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 20px;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        padding: 16px 0;
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/



    /*----------------
        Block head
    ----------------*/



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/



    /*----------
        Team
    ----------*/
    .team .title
    {
        font-size: 21px;
    }

    .team .row > *
    {
        width: calc(50% - 24px);
    }



    /*------------
        Footer
    ------------*/
    footer .cont
    {
        display: block;
    }

    footer .cont > * + *
    {
        margin-top: 40px;
    }


    footer .cont + .cont > * + *
    {
        margin-top: 12px;
    }



    /*-----------
        PopUp
    -----------*/
}
